*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 70%;
    margin: 0 auto;
    color: whitesmoke;
}

.btn {
    padding: 15px 30px;
    border-radius: 5px;
    border:none;
    background-color: blue;
    color: whitesmoke;
}

.header-img.img {
    width: 300px;
    height: auto;
}

header, footer{
    background-color: #1f2937;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li{
    margin-right: 20px;
}

nav .logo h3 {
    font: 24px #f9faf8;
}

header .hero {
    display: flex;
    align-items: flex-start;
    padding: 80px 0;
}

header h1 {
    font: 48px bolder #f9faf8;
    margin-bottom: 20px;
}

header p, nav ul li, nav .logo h3{
    margin-bottom: 40px;
    font: 18px #e5e7eb;
}

/* styles for main */

section {
    display: flex;
    padding: 40px 0;
    gap: 20px;
    text-align: center;
}

section.info-section{
    color: #1f2937;
}

article.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .info-img{
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

section .info-img img {
    width: 100%;
    aspect-ratio: 1/1;
}

section.msg-section {
    color: black;
    flex-direction: column;
    background-color: #e5e7eb;
}

section.msg-section .content q {
    font: 36px italic #666d77;
    padding: 0 20px;
}

section.msg-section .author {
text-align: right;
font-weight: bold;
margin-right: 10px;
}

section.cta-section {
margin: 80px 0;
justify-content: space-around;
background-color: rgb(62, 23, 234);
border-radius: 5px;
}

section.cta-section .btn {
    background-color: transparent;
    border: 1px solid whitesmoke;
}

footer.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}